Biblioteca_Estefania.dtd


<!ELEMENT Biblioteca (Libro,revista,periodicos)>
<!ATTLIST libro id ID #REQUIRED>
<!ATTLIST libro tipo_clase (novela|infantil|didactico) ID #REQUIRED>
<!ATTLIST libro numero_paginas CDATA >

<!ATTLIST capitulo numero_paginas CDATA >
<!ATTLIST  contenido enlace CDATA >



<!ELEMENT  libro+ (titulo,capitulo,indice,sinopsis)>
<!ELEMENT titulo (#PCDATA)>

<!ELEMENT capitulo (titulo,contenido)>
<!ELEMENT contenido (#PCDATA)>

<!ELEMENT indice(#PCDATA)>
<!ELEMENT sinopsis (#PCDATA)>
