Biblioteca_Estefania.dtd


<!ELEMENT Biblioteca (Libro,revista,periodicos)>
<!ATTLIST libro id ID #REQUIRED>
<!ATTLIST libro tipo_clase (novela|infantil|didactico) ID #REQUIRED>
<!ATTLIST libro numero_paginas CDATA >

<!ATTLIST capitulo numero_paginas CDATA >
<!ATTLIST capitulo contenido ENTITY>



<!ELEMENT  libro+ (titulo,capitulo,indice,sinopsis)>
<!ELEMENT titulo (#PCDATA)>

<!ELEMENT capitulo (titulo,contenido)>
<!ENTITY contenido SYSTEM "uri">

<!ELEMENT indice(EMPTY)>
<!ELEMENT sinopsis (#PCDATA)>
