Biblioteca_Estefania.dtd


<!ELEMENT Biblioteca (libro+)>
<!ELEMENT  libro (titulo,capitulo+,indice,sinopsis)>
<!ELEMENT titulo (#PCDATA)>

<!ELEMENT capitulo (titulo,contenido)>
<!ELEMENT contenido (#PCDATA)>

<!ELEMENT indice (#PCDATA)>
<!ELEMENT sinopsis (#PCDATA)>

<!ATTLIST libro id ID #REQUIRED>
<!ATTLIST libro tipo_clase (novela|infantil|didactico) #REQUIRED>
<!ATTLIST libro numero_paginas CDATA  #REQUIRED >

<!ATTLIST capitulo numero_paginas CDATA  #REQUIRED >
<!ATTLIST  contenido enlace CDATA  #REQUIRED >
