XSD_Biblioteca_Estefania.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema">
     
   <element name="Biblioteca">
      <complexType>
         <sequence>
            <element name ="libros">
               <complexType>
                  <sequence>
                    <element name="libro"  minOccurs="1" maxOccurs="unbounded"> 
                        <complexType>
                           <sequence>
                              <element name ="titulo" type="string" minOccurs="1" maxOccurs="1"/>
                              <element name ="capitulo" minOccurs="1" maxOccurs="unbounded" >
                                <complexType>
                                    <sequence>
                                       <element name ="titulo" type="string" />
                                       <element name ="contenido" >
                                          <complexType>
                                             <simpleContent>
                                                <extension base="string">
                                                 <attribute name="enlace" type="string"/>
                                                </extension>
                                             </simpleContent>
                                          </complexType>

                                       </element>
                                        
                                    </sequence>
                                    <attribute name ="numero_paginas" type="integer"></attribute>
                                </complexType>
                             </element>
                             <element name="indice" type="string" />
                             <element name="sinopsis" type="string"/>
                         </sequence>
                           <attribute name ="id" use="required">
                              <simpleType>
                               <restriction base="string">
                                    <pattern value="L[0-9]{4}"></pattern>
                               </restriction>
                             </simpleType>
                          </attribute>
                          <attribute name ="tipo_clase" >
                            <simpleType>
                               <restriction base="string">
                                  <enumeration value="novela"></enumeration>
                                  <enumeration value="infantil"></enumeration>
                                  <enumeration value="didactica"></enumeration>
                               </restriction>
                            </simpleType>
                          </attribute>
                          <attribute name ="numero_paginas" type="integer" > </attribute>
                         
                       </complexType>
                            
                             
                     </element>

                   </sequence>
             </complexType>
          </element>
          <element name ="revistas">
              <complexType>
                <sequence>
                   <element name="revista"  minOccurs="1" maxOccurs="unbounded"> 
                      <complexType>
                         <sequence>
                            <element name ="titulo_r" type="string" minOccurs="1" maxOccurs="1"/>
                            <element name ="numero_revista" type="integer" minOccurs="1" maxOccurs="unbounded"/>
                            <element name="indice_r" type="string" />
                            <element name="secciones" >
                               <complexType>
                                  <sequence>
                                     <element name="seccion" minOccurs="1" maxOccurs="unbounded">
                                         <complexType>
                                            <sequence>
                                                 <element name= "contenido_r" >
                                                      <complexType>
                                                          <simpleContent>
                                                               <extension base="string">
                                                                  <attribute name ="enlace " type="string"></attribute>
                                                             </extension>
                                                           
                                                            </simpleContent>

                                                         </complexType>
                                                  
                                                   </element>
                                           </sequence>
                                           <attribute name="numero_paginas" type="integer"></attribute>
                                        </complexType>
                                     </element>
                                            
                                   </sequence>
                                 </complexType>
                              </element>
                         </sequence>
                         <attribute name ="id" use="required">
                              <simpleType>
                                 <restriction base="string">
                                    <pattern value="R[0-9]{4}"></pattern>
                                 </restriction>
                              </simpleType>
                         </attribute>
                         <attribute name ="tipo_clase" >
                              <simpleType>
                                 <restriction base="string">
                                    <enumeration value="corazon"></enumeration>
                                    <enumeration value="coches"></enumeration>
                                    <enumeration value="investigacion"></enumeration>
                                    <enumeration value="otras"></enumeration>
                                 </restriction>
                              </simpleType>
                         </attribute>
                         <attribute name ="numero_paginas" type="integer" > </attribute>
                        </complexType>
                            
                     </element>

                  </sequence>
             </complexType>
          </element>
               
          <element name ="periodicos">
              <complexType>
                  <sequence>
                     <element name="periodico"  minOccurs="1" maxOccurs="unbounded" > 
                      <complexType>
                          <sequence>
                              <element name ="secciones_p">
                                 <complexType>
                                    <sequence>
                                       <element name="seccion_p" minOccurs="1" maxOccurs="unbounded">
                                          <complexType>
                                             <sequence>
                                               <element name="articulo" minOccurs="1" maxOccurs="unbounded">
                                                   <complexType>
                                                      <sequence>
                                                        <element name ="contenido_p" >
                                                            <complexType>
                                                              <simpleContent>
                                                                  <extension base="string">
                                                                     <attribute name="enlace" type="string"/>
                                                                    
                                                                  </extension>
                                                                  
                                                                  
                                                               </simpleContent>
                                                              
                                                            </complexType>
                                                             
                                                           
                                                         </element>
                                                      </sequence>
                                                      <attribute name ="autor" type="string"/>
                                                   </complexType>
                                                </element>
                                             </sequence>
                                             <attribute name ="tipo_seccion" >
                                                <simpleType>
                                                   <restriction base="string">
                                                     <enumeration value="economica"></enumeration>
                                                     <enumeration value="opinion"></enumeration>
                                                     <enumeration value="deportes"></enumeration>
                                                   </restriction>
                                               </simpleType>
                                           </attribute>

                                          </complexType>
                                       </element>
                                       
                                    </sequence>
                                 </complexType>
                           
                              </element>
                              <element name="indice_p" type="string" />
                         </sequence>
                         <attribute name ="id" use="required">
                              <simpleType>
                                 <restriction base="string">
                                    <pattern value="P[0-9]{4}"></pattern>
                                 </restriction>
                              </simpleType>
                         </attribute>
                         <attribute name ="tipo_clase" >
                              <simpleType>
                                 <restriction base="string">
                                  <enumeration value="nacionales"></enumeration>
                                  <enumeration value="internacionales"></enumeration>
                                 </restriction>
                              </simpleType>
                           </attribute>
                           <attribute name ="fecha_publicacion" type="date" > </attribute>
                        </complexType>
                     </element>
                  </sequence>
              </complexType>
            </element>
         </sequence>
      </complexType>
   </element>
</schema>
