XSD_biblioteca.xsd

<?xml version="1.0"?>
<!-- No utilizo el prefijo xs: por no alargar mucho el documento -->
<schema xmlns="http://www.w3.org/2001/XMLSchema">
    <element name="biblioteca">
        <complexType>
            <sequence>
                <!-- LIBROS -->
                <element name="libros">
                    <complexType>
                        <sequence>
                            <!-- Mínimo debe haber un libro y máximo infinitos -->
                            <element name="libro" minOccurs="1" maxOccurs="unbounded">
                                <complexType>
                                    <sequence>
                                        <!-- El titulo del libro tiene una restricción de mínimo 2 caracteres de longitud -->
                                        <element name="titulo">
                                            <simpleType>
                                                <restriction base="string">
                                                    <minLength value="2" />
                                                </restriction>
                                            </simpleType>
                                        </element>
                                        <element name="capitulos">
                                            <complexType>
                                                <sequence>
                                                    <!-- El elemento capitulo puede estar entre ninguna e infinitas veces -->
                                                    <element name="capitulo" minOccurs="0" maxOccurs="unbounded">
                                                        <complexType>
                                                            <sequence>
                                                                <element name="titulo_cap" type="string"></element>
                                                                <element name="contenido">
                                                                    <complexType>
                                                                        <simpleContent>
                                                                            <extension base="string">
                                                                                <attribute name="informacion" type="string"></attribute>
                                                                            </extension>
                                                                        </simpleContent>
                                                                    </complexType>    
                                                                </element>
                                                            </sequence>
                                                            <attribute name="paginas_capitulo" type="integer"></attribute>
                                                        </complexType>
                                                    </element>
                                                </sequence>
                                            </complexType>
                                        </element>
                                        <!-- He decidido poner el índice optativo, puede haber 0 o 1 -->
                                        <element name="indice" type="string" minOccurs="0" maxOccurs="1"></element>
                                        <element name="sinopsis" type="string"></element>
                                    </sequence>
                                    <!-- Atributo id de libro es obligatorio -->
                                    <attribute name="id" use="required">
                                        <simpleType>
                                            <restriction base="string">
                                                <!-- Atributo id empieza con L y 4 dígitos que estén en ese rango-->
                                                <pattern value="L[0-9]{4}"></pattern>
                                            </restriction>
                                        </simpleType>
                                    </attribute>
                                    <!-- Atributo tipo_clase de libro puede ser: novela, infantil o didáctico -->
                                    <attribute name="tipo_clase">
                                        <simpleType>
                                            <restriction base="string">
                                                <enumeration value="novela"></enumeration>
                                                <enumeration value="infantil"></enumeration>
                                                <enumeration value="didactico"></enumeration>
                                            </restriction>
                                        </simpleType>
                                    </attribute>
                                    <attribute name="paginas" type="integer"></attribute>
                                </complexType>
                            </element>
                        </sequence>
                    </complexType>
                </element>

                <!-- REVISTAS -->
                <element name="revistas">
                    <complexType>
                        <sequence>
                            <!-- Mínimo debe haber una revista y máximo infinitas -->
                            <element name="revista" minOccurs="1" maxOccurs="unbounded">
                                <complexType>
                                    <sequence>
                                        <!-- El titulo de la revista tiene una restricción de mínimo 2 caracteres de longitud -->
                                        <element name="titulo_rev">
                                            <simpleType>
                                                <restriction base="string">
                                                    <minLength value="2" />
                                                </restriction>  
                                            </simpleType>
                                        </element>
                                        <element name="numero_revista" type="string"></element>
                                        <!-- He decidido poner el índice optativo, puede haber aparecer o no -->
                                        <element name="indice_rev" type="string" minOccurs="0" maxOccurs="1"></element>
                                        <element name="secciones">
                                            <complexType>
                                                <sequence>
                                                    <!-- El elemento seccion puede estar entre 1 e infinitas veces -->
                                                    <element name="seccion" minOccurs="1" maxOccurs="unbounded">
                                                        <complexType>
                                                            <sequence>
                                                                <element name="contenido_rev">
                                                                    <complexType>
                                                                        <simpleContent>
                                                                            <extension base="string">
                                                                                <attribute name="informacion" type="string"></attribute>
                                                                            </extension>
                                                                        </simpleContent>
                                                                    </complexType>
                                                                </element>
                                                            </sequence>
                                                            <attribute name="paginas" type="integer"></attribute>
                                                        </complexType>
                                                    </element>
                                                </sequence>
                                            </complexType>
                                        </element>
                                    </sequence>
                                    <!-- El atributo id es obligatorio -->
                                    <attribute name="id" use="required">
                                        <simpleType>
                                            <restriction base="string">
                                                <!-- Atributo id empieza con R y 4 dígitos que estén en ese rango-->
                                                <pattern value="R[0-9]{4}"></pattern>
                                            </restriction>
                                        </simpleType>
                                    </attribute>
                                    <!--El tipo puede ser: informática, corazón, coches, investigación y otras -->
                                    <attribute name="tipo_clase">
                                        <simpleType>
                                            <restriction base="string">
                                                <enumeration value="informatica"></enumeration>
                                                <enumeration value="corazon"></enumeration>
                                                <enumeration value="coches"></enumeration>
                                                <enumeration value="investigacion"></enumeration>
                                                <enumeration value="otras"></enumeration>
                                            </restriction>
                                        </simpleType>
                                    </attribute>
                                    <attribute name="paginas" type="integer"></attribute>
                                </complexType>
                            </element>
                        </sequence>
                    </complexType>
                </element>

                <!-- PERIODICOS -->
                <element name="periodicos">
                    <complexType>
                        <sequence>
                            <!-- Mínimo debe haber un periódico y máximo infinitos -->
                            <element name="periodico" minOccurs="1" maxOccurs="unbounded">
                                <complexType>
                                    <sequence>
                                        <element name="secciones_per">
                                            <complexType>
                                                <sequence>
                                                    <!-- Pueden haber entre 1 y muchos artículos -->
                                                    <element name="seccion_per" minOccurs="1" maxOccurs="unbounded">
                                                        <complexType>
                                                            <sequence>
                                                                <element name="articulos">
                                                                    <complexType>
                                                                        <sequence>
                                                                            <!-- Pueden haber entre 1 y muchos artículos -->
                                                                            <element name="articulo" minOccurs="1" maxOccurs="unbounded">
                                                                                <complexType>
                                                                                    <sequence>
                                                                                        <element name="contenido_per">
                                                                                            <complexType>
                                                                                                <simpleContent>
                                                                                                    <extension base="string">
                                                                                                        <attribute name="informacion" type="string"></attribute>
                                                                                                    </extension>
                                                                                                </simpleContent>
                                                                                            </complexType>
                                                                                        </element>
                                                                                    </sequence>
                                                                                    <attribute name="autor" type="string"></attribute>
                                                                                </complexType>
                                                                            </element>
                                                                        </sequence>
                                                                    </complexType>
                                                                </element>
                                                            </sequence>
                                                            <!-- Tipo de sección: económica, opinión, deportes, nacional o internacional-->
                                                            <attribute name="tipo_seccion">
                                                                <simpleType>
                                                                    <restriction base="string">
                                                                        <enumeration value="economica" />
                                                                        <enumeration value="opinion" />
                                                                        <enumeration value="deportes" />
                                                                        <enumeration value="nacional" />
                                                                        <enumeration value="internacional" />
                                                                    </restriction>
                                                                </simpleType>
                                                            </attribute>
                                                        </complexType>
                                                    </element>
                                                </sequence>
                                            </complexType>
                                        </element>
                                        <!-- He decidido poner el índice optativo, puede haber aparecer o no -->
                                        <element name="indice_per" type="string" minOccurs="0" maxOccurs="1"></element>
                                    </sequence>
                                    <!-- El atributo id es obligatorio -->
                                    <attribute name="id" use="required">
                                        <simpleType>
                                            <restriction base="string">
                                                <!-- Atributo id empieza con P y 4 dígitos que estén en ese rango-->
                                                <pattern value="P[0-9]{4}"></pattern>
                                            </restriction>
                                        </simpleType>
                                    </attribute>
                                    <!--El tipo puede ser: nacionales o iternacionales -->
                                    <attribute name="tipo_clase">
                                        <simpleType>
                                            <restriction base="string">
                                                <enumeration value="nacionales" />
                                                <enumeration value="internacionales" />
                                            </restriction>
                                        </simpleType>
                                    </attribute>
                                    <!-- Fecha de publicación es tipo date -->
                                    <attribute name="fecha_publicacion" type="date" />
                                </complexType>
                            </element>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>